REACT_APP_API_URL=http://localhost:4000/v1/api

SERVER_PORT=4000
SERVER_API_KEY=very-strong-api-key

DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=app_db

JWT_SECRET=your_jwt_secret
PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=admin
PGADMIN_PORT=5050